# LaTeX Extra files
*.aux
*.log
*.out
*.bbl
*.toc
*.blg
*.nav
*.snm
*.fls
*.xml
*.bcf

# Paraview files
*.vtu
*.pvd

# Swap files
*.swp

# iPython / Jupyter notebooks
*.ipynb
__init__.py
*.pyc

# PDF. REMOVE IF NECESSARY
*.pdf
*.dat
*.txt

# Particular Prelude file
Prelude/Report/Prelude_Report-blx.bib

# All of the FENICS_TEST directory
FENICS_TEST/

