# LaTeX Extra files
*.aux
*.log
*.out
*.bbl
*.toc
*.blg
*.nav
*.snm
*.fls
*.xml
*.bcf
*-blx.bib

# Paraview and data files
*.vtu
*.pvd
*.tsv
*.dat
*.txt

# Swap files
*.swp

# iPython / Jupyter notebooks
*.ipynb
__init__.py
*.pyc

# PDF. REMOVE IF NECESSARY
*.pdf

# Particular Prelude file
#Prelude/Report/Prelude_Report-blx.bib

# Minted files ignored
/Thesis/_minted-thesis

